.skeletonWrapper {
    display: flex;
    gap: 3%;
    .skeletonList {
        background-color: #d1d1d1;
        width: 30%;
        height: 50%;
        &__title {
            margin-left: 10px;
        }
        &__card {
            border-radius: 4px;
            margin: 5% 6%;
            width: 88%;
            background-color: white;
        }
        &__text {
            margin-left: 8px;
        }
    }
}
