.listContainer {
    display: flex;
    align-items: flex-start;
    position: relative;
}
.list {
    flex-grow: 1;
    padding: 5px;
    margin-top: 20px;
    margin-left: 10px;
    width: 272px;
    background-color: var(--background-color);
    height: fit-content;
    border-radius: 5px;
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2 {
            font-size: 24px;
        }
        img {
            position: absolute;
            right: 10px;
            top: 30px;
            cursor: pointer;
            filter: var(--icon-color);
            border-radius: 5px;
            height: fit-content;
            &:hover {
                background-color: var(--icon-hover);
            }
        }
        &_input {
            padding: 5px;
            height: auto;
            min-height: 36px;
            font-size: 24px;
            font-weight: 700;
            background-color: var(--background-color);
            color: var(--color);
            max-width: 100%;
            min-width: 1ch;
            resize: none;
            overflow: hidden;
            overflow-wrap: break-word;
        }
    }
}
