@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
.successModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 30%;
    box-shadow: 1px 0px 6px 0px #000000;
    background-color: var(--background-color);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    &__btn {
        padding: 16px 42px;
        border-radius: 3px;
        line-height: 1.25;
        background: #fc6e51;
        text-decoration: none;
        color: white;
        font-size: 16px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        position: relative;
        transition: background-color 0.6s ease;
        overflow: hidden;
        &:after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            top: 50%;
            left: 50%;
            top: var(--mouse-y);
            left: var(--mouse-x);
            transform-style: flat;
            transform: translate3d(-50%, -50%, 0);
            background: rgba(white, 0.1);
            border-radius: 100%;
            transition:
                width 0.3s ease,
                height 0.3s ease;
        }
        &:focus,
        &:hover {
            background: darken(#fc6e51, 7%);
        }
        &:active {
            &:after {
                width: 300px;
                height: 300px;
            }
        }
    }
    h2 {
        text-align: center;
    }
}
