.layoutContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    .mainContainer {
        flex: 1;
        display: flex;
        .mainContent {
            margin-top: 5%;
            margin-left: 11%;
            flex: 1;
        }
        .fullHeight {
            margin-top: 1%;
            margin-left: 1%;
        }
        //когда закрываем боковое меню
        .fullWidth {
            width: 100%;
            margin-left: 1%;
        }
    }
}
.fullHeight {
    height: 100%;
    .mainContainer {
        .mainContent {
            margin-top: 0%;
            margin-left: 0%;
        }
    }
}
