.layoutContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    .mainContainer {
        flex: 1;
        display: flex;
        .mainContent {
            margin-top: calc(5% - 6px);
            padding-left: 10%;
            flex: 1;
        }

        .fullHeight {
            margin-top: 1%;
            padding-left: 10%;
        }

        .fullWidth {
            width: 100%;
            padding-left: 0%;
            margin-top: calc(5% - 2px);
        }
    }
}

.fullHeight {
    font-size: 0.75em;
    height: 100%;
    .mainContainer {
        width: 700px;
        .mainContent {
            margin-top: 0%;
            padding-left: 0%;
        }
    }
}
