.cardActions {
    background-color: var(--background-color);
    text-align: center;
    border: 2px solid var(--border-color);
    border-radius: 5px;
    min-width: 250px;
    h3,
    h4 {
        cursor: pointer;
    }
    h4 {
        &:hover {
            background-color: var(--background--color-hover);
        }
    }
    &__title {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        h3 {
            margin: 0 auto;
        }
        img {
            cursor: pointer;
            filter: var(--icon-color);
            &:hover {
                background-color: var(--icon-hover);
            }
        }
    }
}
.labelContainer {
    background-color: var(--background-color);
    border: 2px solid black;
    cursor: pointer;
    position: absolute;
    top: -50px;
    z-index: 11;
    width: 100%;
    border-radius: 0 0 10px 10px;
    &__buttom {
        top: -180px;
    }
}
