.createBoard {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    gap: 15%;
    &__selectBackground {
        margin-top: 40px;
        text-align: center;
    }
    &__addData {
        input {
            width: 220px;
            border-radius: 5px;
            padding: 5px;
            margin-left: 20px;
            margin-bottom: 10px;
            border: none;
            border-bottom: 1px solid black;
        }
        flex: 0 0 30%;
    }
    &__boardView {
        top: 20px;
        position: fixed;
        left: 40%;
        height: 400px;
    }
    &__boardView__create,
    &__selectBackground__more {
        margin-top: 10px;
        margin-left: calc(50% - 30px);
        border-radius: 5px;
        border: 2px solid black;
        padding: 10px;
        font-size: 1.2rem;
        background-color: var(--button-background-color);
        color: var(--button-text-color);
        &:hover {
            background-color: var(--button-hover-background-color);
        }
        &:disabled {
            background-color: rgb(217, 214, 214);
            color: rgb(143, 143, 143);
        }
    }
    &__selectBackground__more {
        margin-left: calc(50% - 10px);
        min-width: 200px;
    }
    [class$='-option'] {
        color: black;
    }
}
