.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    margin: 0 auto;
    background-color: var(--background-color);
    color: var(--color);
    display: flex;
    border-bottom: 1px solid black;
    height: 10vh;
    width: 100%;
    justify-content: space-around;
    p {
        cursor: pointer;
    }
}
.question__icon {
    filter: var(--icon-color);
}
.profile__icon {
    filter: var(--icon-color);
}
