.workSpaces {
    margin-left: 20px;
    margin-right: 20px;
    height: 50%;
    display: grid;
    grid-template-columns: repeat(
        5,
        minmax(200px, 1fr)
    ); // Установите здесь количество элементов в строке
    grid-gap: 20px; // Отступы между элементами
}
