.workSpaces {
    margin-left: 20px;
    margin-right: 20px;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-gap: 20px;
    &__recent {
        height: 40%;
    }
}
