.pomodoroCards {
    display: flex;
    flex-direction: column;
    &__state {
        padding: 10px;
        display: flex;
        width: 450px;
        border: 2px solid black;
        &_active {
            border: 3px solid rgb(86, 85, 85);
            width: 50%;
            div {
                display: flex;
                justify-content: left;
                gap: 10px;
                margin-left: 10px;
            }
            img {
                cursor: pointer;
                filter: var(--icon-color);
                &:hover {
                    background-color: var(--icon-hover);
                }
            }
        }
    }
}
