/* Reset and base styles  */
* {
    padding: 0px;
    margin: 0px;
    /* border: none; */
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a,
a:link,
a:visited {
    text-decoration: none;
    color: var(--color);
}

a:hover {
    text-decoration: none;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--background-color);
    color: var(--color);
}
html[app-theme='light'] {
    --button-text-color: #ffffff;
    --button-background-color: #488abc;
    --button-hover-background-color: #64ace3;
    --button-border-color: #d26ce4;

    --background-color: rgb(254, 255, 239);
    --background--color-lighter: rgb(116, 192, 236);
    --color: black;
    --icon-color: invert(0%) sepia(100%) saturate(15%) hue-rotate(246deg) brightness(105%)
        contrast(105%);
    --icon-hover: grey;
    --border-color: rgb(73, 42, 233);
}

html[app-theme='dark'] {
    --button-text-color: #000000;
    --button-background-color: #f54724;
    --button-hover-background-color: #f9745a;
    --button-border-color: #1b181b;

    --background-color: rgb(65, 65, 64);
    --background--color-lighter: rgb(90, 90, 89);
    --color: white;
    --icon-color: invert(52%) sepia(29%) saturate(6881%) hue-rotate(163deg) brightness(97%)
        contrast(101%);
    --icon-hover: red;
    --border-color: rgb(232, 121, 121);
}
