.page__404 {
    padding: 10px 0;
    background: #fff;
    color: black;
    font-family: 'Arvo', serif;
    margin: 0 auto;
    height: 100vh;
    h1 {
        text-align: center;
        font-size: 84px;
        font-weight: 800;
    }
    img {
        width: 100%;
    }
    &__bg {
        background-image: url('../../assets/404.gif');
        height: 400px;
        background-position: center;
        background-repeat: no-repeat;
    }
    &__text {
        text-align: center;
        font-size: 32px;
        p {
            margin-bottom: 15px;
        }
    }
    &__button {
        margin-top: 20px;
        padding: 10px;
        border-radius: 30px;
        background-color: greenyellow;
        &:hover {
            background-color: rgb(194, 253, 104);
        }
    }
}
